/***
Brown theme
***/
/***
Reset and overrides  
***/

body {
  background-color: #623f18 !important;
}

/***
Page header
***/

.header {
  filter: none !important;
  background-image: none !important;
  background-color: #35220d !important;
  .btn-navbar {
    background-color: #35220d !important;
  }
  .navbar-nav {
    .dropdown-toggle:hover, .dropdown.open .dropdown-toggle {
      background-color: #5a3a16 !important;
    }
    li.dropdown .dropdown-toggle i {
      color: #d18d42 !important;
    }
  }
  .search-form {
    background-color: #241709;
    .form-control {
      color: #ccc;
      border: 0;
      background-color: #241709;
    }
    .submit {
      background: url(../../img/search-icon-brown.png);
    }
  }
  .hor-menu {
    ul.nav li {
      a {
        color: #ccc;
      }
      &.open > a {
        color: #fff;
        background: #5a3a16;
      }
      > a {
        &:hover, &:focus {
          color: #fff;
          background: #5a3a16;
        }
      }
    }
    .dropdown-menu li:hover > a {
      color: #fff;
      background: #e02222 !important;
    }
    ul.nav li {
      &.active > a, &.current > a {
        color: #fff;
        background: #e02222 !important;
        &:hover {
          color: #fff;
          background: #e02222 !important;
        }
      }
    }
    .dropdown-menu {
      background: #5a3a16;
      li > a {
        color: #ccc;
      }
    }
    .hor-menu-search-form-toggler.off {
      background: #5a3a16 url(../../img/hor-menu-search-close-white.png) no-repeat center;
    }
    .search-form {
      background: #5a3a16;
      form input {
        color: #ccc;
      }
      .btn {
        color: #ccc;
        background: url(../../img/search-icon-white.png) no-repeat center;
      }
      form input {
        &::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #ccc;
        }
        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #ccc;
        }
        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #ccc;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #ccc;
        }
      }
    }
  }
}

/***
Header Search
***/

/***
Hor menu
***/

/***
Mega Menu
***/

.mega-menu .mega-menu-submenu {
  border-right: 1px solid #6B451B;
  li h3 {
    color: #fff;
  }
}

/***
Page sidebar
***/

.page-sidebar {
  background-color: #623f18;
}

ul.page-sidebar-menu {
  > li {
    > a {
      border-top: 1px solid #935f24 !important;
      color: #ffffff !important;
    }
    &:last-child > a {
      border-bottom: 1px solid transparent !important;
    }
    a i {
      color: #9a6d3a;
    }
    &.open > a, > a:hover, &:hover > a {
      background: #4e3112;
    }
    &.active > a {
      background: #4e3112 !important;
      border-top-color: transparent !important;
      color: #ffffff;
      i {
        color: #ffffff;
      }
    }
    > ul.sub-menu {
      > li {
        &:first-child > a {
          border-top: 0px !important;
        }
        &.active > a {
          color: #ffffff !important;
          background: #8b5922 !important;
        }
        > a:hover {
          color: #ffffff !important;
          background: #8b5922 !important;
          background: #8b5922 !important;
        }
      }
      li {
        > ul.sub-menu > li {
          &.active > a, > a:hover {
            color: #ffffff !important;
            background: #8b5922 !important;
          }
        }
        &.open > a {
          color: #ffffff !important;
          background: #8b5922 !important;
        }
      }
    }
  }
  li > ul.sub-menu > li > a {
    color: #e5bf94;
  }
  > li {
    > {
      a .arrow {
        &:before, &.open:before {
          color: #c88131 !important;
        }
      }
      ul.sub-menu a .arrow {
        &:before, &.open:before {
          color: #b4742c !important;
        }
      }
      a > .arrow.open:before {
        color: #d18d42 !important;
      }
    }
    &.active > a .arrow {
      &:before, &.open:before {
        color: #ffffff !important;
      }
    }
  }
}

/* 3rd level sub menu */

/* font color for all sub menu links*/

/* menu arrows */

/* sidebar search */

.page-sidebar .sidebar-search {
  input {
    background-color: #39250e !important;
    color: #b18d65;
    &::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      color: #b18d65 !important;
    }
    background-color: #623f18 !important;
    color: #b18d65 !important;
  }
  .input-box {
    border-bottom: 1px solid #845f36 !important;
  }
  .submit {
    background-image: url(../../img/search-icon-brown.png);
  }
}

/***
Sidebar toggler
***/

.sidebar-toggler {
  background-image: url(../../img/sidebar-toggler-brown.jpg);
  background-color: #39250e;
}

/* search box bg color on expanded */

.page-sidebar-closed {
  .page-sidebar .sidebar-search.open .form-container {
    background-color: #623f18 !important;
    .remove {
      background-image: url("../../img/sidebar-search-close-brown.png");
    }
  }
  ul.page-sidebar-menu > li:hover .sub-menu {
    background-color: #623f18;
  }
}

/* sub menu bg color on hover menu item */

/***
Footer 
***/

.footer {
  .footer-inner {
    color: #999999;
  }
  .footer-tools .go-top {
    background-color: #7f511f;
    &:hover {
      opacity: 0.7;
      filter: alpha(opacity = 70);
    }
    i {
      color: #d18d42;
    }
  }
}

/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */

.page-footer-fixed .footer {
  background-color: #39250e;
  .footer-inner {
    color: #999999;
  }
  .footer-tools .go-top {
    background-color: #7f511f;
    i {
      color: #d18d42;
    }
  }
}

/* end:fixed footer */
/***
Gritter Notifications 
***/

.gritter-top {
  background: url(../../plugins/gritter/images/gritter-brown.png) no-repeat left -30px !important;
}

.gritter-bottom {
  background: url(../../plugins/gritter/images/gritter-brown.png) no-repeat left bottom !important;
}

.gritter-item {
  display: block;
  background: url(../../plugins/gritter/images/gritter-brown.png) no-repeat left -40px !important;
}

.gritter-close {
  background: url(../../plugins/gritter/images/gritter-brown.png) no-repeat left top !important;
}

.gritter-title {
  text-shadow: none !important;
  /* Not supported by IE :( */
}

/* for the light (white) version of the gritter notice */

.gritter-light {
  .gritter-item, .gritter-bottom, .gritter-top, .gritter-close {
    background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
  }
}

.gritter-item-wrapper a {
  color: #b18d65;
  &:hover {
    color: #755a3b;
  }
}

/* begin: boxed page */
@media (min-width: 992px) {
  .page-boxed {
    background-color: #492f12 !important;
    .page-container {
      background-color: #623f18;
      border-left: 1px solid #976125;
      border-bottom: 1px solid #976125;
    }
    &.page-sidebar-reversed .page-container {
      border-left: 0;
      border-right: 1px solid #976125;
    }
    &.page-sidebar-fixed .page-container {
      border-left: 0;
      border-bottom: 0;
    }
    &.page-sidebar-reversed.page-sidebar-fixed .page-container {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    &.page-sidebar-fixed .page-sidebar {
      border-left: 1px solid #976125;
    }
    &.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
      border-right: 1px solid #976125;
      border-left: 0;
    }
    &.page-sidebar-fixed.page-footer-fixed .footer {
      background-color: #492f12 !important;
    }
  }
}

/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
    page sidebar
    ***/
  .page-sidebar {
    background-color: #412a10 !important;
  }
  ul.page-sidebar-menu > li {
    > a {
      border-top: 1px solid #764c1d !important;
    }
    &:last-child > a {
      border-bottom: 0 !important;
    }
  }
  .page-sidebar .sidebar-search input {
    background-color: #412a10 !important;
  }
  ul.page-sidebar-menu > li {
    &.open > a, > a:hover, &:hover > a {
      background: #311f0c;
    }
  }
}
