body {
  background-color: #fff !important;
}

.header, .page-sidebar, .theme-panel, .hidden-print, .footer {
  display: none;
}

.no-page-break {
  page-break-after: avoid;
}

.page-container {
  margin: 0px !important;
  padding: 0px !important;
}

.page-content {
  min-height: auto !important;
  padding: 0px 20px 20px !important;
  margin: 0 !important;
}
