/*icomoon*/

@font-face {

    font-family: 'icomoon';

    src: url('../font/icomoon2/icomoon.eot?ssp39e');

    src: url('../font/icomoon2/icomoon.eot?ssp39e#iefix') format('embedded-opentype'),

    url('../font/icomoon2/icomoon.ttf?ssp39e') format('truetype'),

    url('../font/icomoon2/icomoon.woff?ssp39e') format('woff'),

    url('../font/icomoon2/icomoon.svg?ssp39e#icomoon') format('svg');

    font-weight: normal;

    font-style: normal;

}

/*@font-face {

  font-family: 'btn_prev_next';

  src:  url("http://xwadex.com/__w__/kafo/@www/chris/assets/css/../font/prev_next/icomoon.eot?xdyrd7");

  src:  url("http://xwadex.com/__w__/kafo/@www/chris/assets/css/../font/prev_next/icomoon.eot?xdyrd7#iefix") format('embedded-opentype'),

    url("http://xwadex.com/__w__/kafo/@www/chris/assets/css/../font/prev_next/icomoon.ttf?xdyrd7") format('truetype'),

    url("http://xwadex.com/__w__/kafo/@www/chris/assets/css/../font/prev_next/icomoon.woff?xdyrd7") format('woff'),

    url("http://xwadex.com/__w__/kafo/@www/chris/assets/css/../font/prev_next/icomoon.svg?xdyrd7#icomoon") format('svg');

  font-weight: normal;

  font-style: normal;

}*/

[class^="icon-"],

[class*=" icon-"] {

    /* use !important to prevent issues with browser extensions that change fonts */

    font-family: 'icomoon' !important;

    speak: none;

    font-style: normal;

    font-weight: normal;

    font-variant: normal;

    text-transform: none;

    line-height: 1;

    /* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

}

.icon-location2:before {

    content: "\e948";

}



/*banner*/

.service-banner {width: 100%; height: 55%; }

.service-banner .indexTit .txt01 {font-size: 3rem; margin: 0 auto 10px; max-height: 176px; line-height: 1.2; overflow: hidden; }

.service-banner .indexTit .txt02 {font-size: 1.125rem; max-width: 700px; max-height: 143px; overflow: hidden; }

.title {display: block; padding: 0; }

.service-wrap {position: relative; padding: 130px 0 0px; }

.service-type {visibility: hidden; z-index: 1; position: absolute; left: 0; right: 0; margin: auto; top: -50px; }

/*fixed*/

.service-type.menuFixed { visibility: visible; position: fixed; top: 0; width: 100%; background-color: rgba(255, 255, 255, .9); }

/*型號篩選 product video styke*/

.service-type>a {width: 200px; display: block; margin: auto; }

.service-select {width: 80%; max-width: 500px; margin: 2em auto 0; text-align: center; }

.service-selected {position: relative; display: block; font-size: 2rem; font-weight: bold; color: #000; cursor: pointer; width: 100%; margin: auto; padding-bottom: .5em; text-transform: uppercase; }

.service-selected:after {content: ""; position: absolute; top: -20px; left: 0; right: 0; margin: auto; border: transparent solid; border-width: 10px; border-top-color: #e60012; width: 0px; height: 0px; }

.service-select ul {width: 450px; display: none; z-index: 3; position: absolute; left: 0; right: 0; margin: 1em auto; padding-top: 1em; padding-bottom: 2em; background-color: #191919; max-width: 450px; cursor: pointer; }

.service-select ul li {width: 90%; margin: auto; padding-top: 10px; padding-bottom: 10px; background-color: #191919; color: rgba(255, 255, 255, .3); font-size: .875rem; cursor: pointer; line-height: 1.5; letter-spacing: .05em; }

.service-select ul li:hover {color: rgba(255, 255, 255, 1); }

@media (max-width:767px) {
  .service-select ul {
    width: auto;
  }
}

/*service-list 排列*/

.service-wrap .container {max-width: 1080px; width: 100%; }

.service-list{position: relative;}

/*隱藏全版面的下拉選單*/

.service-wrap .hr01{display: none;}

.container .service-select{display: none; }

.service-map-local {text-align: center; }

.service-map-local ul:first-child {margin: 30px 0 50px; padding: 0px 15px; }

.service-map-local li {display: inline-block; font-size: 18px; padding: 0 10px; }

.service-map-local .service-map-cover li{padding: 5px; }

.service-map-local ul li .pick-map {border-bottom: 3px solid red; font-weight: 800; }

.service-map-local ul li a {padding: 5px; }

.service-map-local h2 {font-weight: 800; line-height: 1; padding:10px 0 0; }

.service-map-local p {letter-spacing: 1px;line-height:1.8; margin: 0 auto; width: 45%; }

.service-map-cover { margin:10px 0 20px; }

.service-map-cover li { margin: 0 20px;}

.slick-track {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .service-map-local p {
    width: 55%;
  }
}
@media (max-width: 580px) {
  .service-map-local p {
    width: 65%;
  }
}
@media (max-width: 480px) {
  .service-map-local p {
    width: 75%;
  }
}
@media (max-width: 320px) {
  .service-map-local p {
    width: 85%;
  }
}
/*

map

*/

.service-map {position: relative; background: #cccccc; height: 369px; z-index: -2; overflow: hidden;}

.service-map-box {position: relative; display: inline-block; margin: 0 auto; width: 700px; height: 369px; left: 50%; transform: translate(-50%, 0); }

.service-map-box img{position: absolute; top:0; left: 0; width: 700px; height: 369px; z-index: 0; z-index: -1 }

.service-map-box span {position: absolute; z-index: 0; font-size: 28px;}

.pick-map{color: red; }

.jq-selectBox01 .pick-map{color: #fff; }

.service-map-cover li{ display: none; }

.service-map-cover .pick-map{ color: #000;display: block; }

.asia{top:161px; left:262px; }

.america{top:115px; left:510px; }

.europe{top:115px; left:57px; }

.oceania{top:260px; left:294px; }

.africa{top:209px; left:94px; }

.middle{top:154px; left:132px; }

/*

.service-map-txt

*/

/*第二個下拉選單*/

.container-map{position:relative; height: 200px; }

/*slick樣式*/

.service-map-txt {max-width: 1080px; padding: 0; margin: 0 auto; }

.service-map-txt .slick-plant {display: inline-block; width: 33%; background: #333; color: #fff; height: 320px; vertical-align: top; }

.slider {width: 100%; padding: 25px 61px 61px; text-align: center; }

.slick-plant {padding: 30px; border: 7px solid #fff; text-align: left; }

.button-group {display: none; }

.slick-prev:before, .slick-next:before {color: black; }

.slick-plant h3 {color: red; font-size: 18px; font-weight: 800; line-height: 1.2; letter-spacing: 1px; }

.slick-plant p {font-size: 13px; margin-bottom: 30px; }

.slick-plant li {font-size: 13px; line-height: 1.8; }

.hr02 {margin-top: -40px; padding: 0 60px; max-width: 1080px; }

.hr02 hr{height: 1px; border: none; background: #666; border-left: 13px solid #fff; border-right: 13px solid #fff; }

@media (max-width: 700px) {
  .service-map-txt .slick-plant {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

/*

.service-contact

*/

.service-contact{text-align: center; margin: 40px auto 100px; max-width: 700px; }

.service-contact h3{font-size: 32px; line-height: 1.4; padding:35px; }

.service-contact .btn-gray03 {display: inline-block; background-color: #e60012; vertical-align: top; margin-top: 1.5em; }

.service-contact .btn-gray03:hover {background-color: #424242; }

.service-contact .hvr-rectangle-out:before {background-color: #424242; }



@media screen and (max-height:900px) {.btn-down.service {bottom: 6rem; } }

@media screen and (max-height:768px) {.btn-down.service {bottom: 5rem; } }

@media screen and (max-height:420px) {.btn-down.service {bottom: 3rem; } }

@media screen and (max-width:1000px) {

    .icon-circle-left:before {content: '\f104'; display: block; margin: auto; width: 27px; height: 27px; line-height: 27px; text-align: center; border: 2px solid #000; color: #000; border-radius: 50%; font-family: FontAwesome; }

    .icon-circle-right:before {content: '\f105'; display: block; margin: auto; width: 27px; height: 27px; line-height: 27px; text-align: center; border: 2px solid #000; color: #000; border-radius: 50%; font-family: FontAwesome; }

    .prev-button, .next-button {position: absolute; top: 50%; transform: translate(0, -50%); z-index: 9; cursor: pointer; }

    .prev-button {left: 1.3rem; }

    .next-button {right: 1.3rem; }

    .hr02 hr {border-left: 7px solid #fff; border-right: 7px solid #fff; }

}

@media screen and (max-width:768px) {

    .container .service-select, .service-wrap .hr01 {display: block; }

    .service-map-local ul:first-child {display: none; }

    .service-wrap {padding: 229px 0 0px; }

    .service-map-box {left: 50%; transform: translate(-50%, 0); -webkit-transition: all 1.5s ease; transition: all 1.5s ease; }

}

@media screen and (max-width:700px) {

    .slider {padding: 25px 0px 61px; }

    .slick-plant{padding: 30px 60px; border-left: 0px; border-right: 0px; }

    .prev-button {left: 0.8rem; }

    .next-button {right: 0.8rem; }

    .icon-circle-left:before { border: 2px solid #fff; color: #fff;  }

    .icon-circle-right:before { border: 2px solid #fff; color: #fff;  }

    .hr02 { padding: 0; border: 0; }

}

@media screen and (max-width:550px){.service-contact h3 {font-size: 27px; } }

@media screen and (max-width:460px) {.btn-down.service {bottom: 4.5rem;  } .service-contact h3 {font-size: 22px; } }

@media screen and (max-width:380px) {.btn-down.service {bottom: 3.7rem; } }
