@charset "utf-8";
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../font/Myriad%20Pro/MyriadPro-Regular.eot');
    src: url('../font/Myriad%20Pro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/Myriad%20Pro/MyriadPro-Regular.woff2') format('woff2'), url('../font/Myriad%20Pro/MyriadPro-Regular.woff') format('woff'), url('../font/Myriad%20Pro/MyriadPro-Regular.ttf') format('truetype'), url('../font/Myriad%20Pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('../font/Century%20Gothic/CenturyGothic.eot');
    src: url('../font/Century%20Gothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
	       url('../font/Century%20Gothic/CenturyGothic.woff2') format('woff2'),
	       url('../font/Century%20Gothic/CenturyGothic.woff') format('woff'),
	       url('../font/Century%20Gothic/CenturyGothic.ttf') format('truetypproductSmalle'),
	       url('../font/Century%20Gothic/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon/icomoon.eot?z4gn3e');
  src:  url('../font/icomoon/icomoon.eot?z4gn3e#iefix') format('embedded-opentype'),
    url('../font/icomoon/icomoon.ttf?z4gn3e') format('truetype'),
    url('../font/icomoon/icomoon.woff?z4gn3e') format('woff'),
    url('../font/icomoon/icomoon.svg?z4gn3e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-download:before { content: "\e900"; font-family: 'icomoon'; font-size: 1rem; }
.icon-download:hover { color: #e60012; }

/* ===============  HTML5 display definitions  =============== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }

/* ===============  Base  =============== */

html { width: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
body { height: 100%; margin: 0 auto; overflow-x: hidden; position: relative; font-size: 100%; line-height: 1; font-weight: normal; font-family: 'Century Gothic', 'Myriad Pro', '微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -moz-font-feature-settings: 'liga', 'kern'; -webkit-overflow-scrolling: touch; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
a { color: inherit; text-decoration: none; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
a:active, a:hover { outline: 0; }
img { border: 0; /*流動圖片設定*/ max-width: 100%; height: auto; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
dl, menu, ol, ul { margin: 0; }
ul { list-style: none; list-style-image: none; }

/*by Boris*/
ul.pagination  {display: inline-flex;}
ul.pagination li {margin: 5px 5px 5px 5px;}
/*by Boris end*/
table { border-collapse: collapse; border-spacing: 0; }

/* ===============  Forms  =============== */

form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }

/* 去除input藍色框框 */

input, button, select, textarea { outline: none; }
*:focus { outline: none; }

/* placeholder 點一下後快速消失 */

input:focus, textarea:focus { outline: none; }
input:focus:placeholder { color: transparent; }
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }
input:focus::-moz-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }

/* ===============  Typography  =============== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
mark { background: #ff0; color: #000; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
hr { height: 1px; border: none; }
p { line-height: 160%; margin: 1em 0; }

/* ===============  Global  =============== */

h1, h2, h3, h4, h5, h6 { font-weight: inherit; }

/* waypoints 動畫區 */
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated-slow { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.hide, .wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.fadeInUp, .fadeIn, .bounceIn, .fadeInLeft, .fadeInRight { visibility: visible !important; opacity: 1; }

.delay-02s { animation-delay: 0.2s; -webkit-animation-delay: 0.2s; }
.delay-03s { animation-delay: 0.3s; -webkit-animation-delay: 0.3s; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-06s { animation-delay: 0.6s; -webkit-animation-delay: 0.6s; }
.delay-07s { animation-delay: 0.7s; -webkit-animation-delay: 0.7s; }
.delay-08s { animation-delay: 0.8s; -webkit-animation-delay: 0.8s; }
.delay-09s { animation-delay: 0.9s; -webkit-animation-delay: 0.9s; }
.delay-10s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.delay-15s { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }
.delay-20s { animation-delay: 2s; -webkit-animation-delay: 2s; }
.delay-25s { animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }
.delay-30s { animation-delay: 3s; -webkit-animation-delay: 3s; }
.delay-35s { animation-delay: 3.5s; -webkit-animation-delay: 3.5s; }

/* animate.css */
@-webkit-keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

@-webkit-keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(-5%, 0, 0); transform: translate3d(-5%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(-5%, 0, 0); transform: translate3d(-5%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(5%, 0, 0); transform: translate3d(5%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(5%, 0, 0); transform: translate3d(5%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

.fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
/*自訂動畫*/
@-webkit-keyframes fadeInLine {
  0% { opacity: 0; height: 0; }
  100% { opacity: 1; height: 120px; }
}

@keyframes fadeInLine {
  0% { opacity: 0; height: 0; }
  100% { opacity: 1; height: 120px; }
}

.fadeInLine { -webkit-animation-name: fadeInLine; animation-name: fadeInLine; }

/* fixed滾動條 scrollbar */
.mCSB_inside > .mCSB_container { margin-right: 0; }
.mCSB_scrollTools { opacity: 0; }
.mCSB_scrollTools { width: 1px; }

/* ===============  共用  =============== */
.wrapper { width: 100%; height: 100%; }
.container { max-width: 1240px; padding-left: 20px; padding-right: 20px; margin: 0 auto; }
.container:after { content: ""; display: block; clear: both; }
.clearfix:after { content: ""; display: block; clear: both; }
.hideText { text-indent: 101%; white-space: nowrap; overflow: hidden; }
.disNone { display: none; }
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.over-hide { overflow: hidden; }
.hr01 { display: block; margin: 0 auto; background-color: #CCC; width: 25px; }

/* font */
.fontC { font-family: 'Century Gothic', 'Myriad Pro', '微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif; }
.fontM { font-family: 'Myriad Pro', '微軟正黑體', 'Microsoft JhengHei', Arial, sans-serif; }

/* hover按鈕 */
/* Rectangle Out */
.hvr-rectangle-out { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; background: #e1e1e1; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-rectangle-out:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #e60012; transform: scale(0); transition: transform .3s ease-out; -webkit-transform: scale(0); -webkit-transition: transform .3s ease-out; }
.hvr-rectangle-out:hover { color: white; }
.hvr-rectangle-out:hover:before { -webkit-transform: scale(1); transform: scale(1); }
/* Underline From Left */
.hvr-underline-from-left { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; }
.hvr-underline-from-left:after { content: ""; position: absolute; z-index: -1; left: 0; right: 100%; bottom: -15px; background: #e60012; height: 4px; transition: right .3s ease-out; -webkit-transition: right .3s ease-out; }
.hvr-underline-from-left:hover:after { right: 0; }

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% { -webkit-transform: translateX(6px); transform: translateX(6px); }
  33.3% { -webkit-transform: translateX(-5px); transform: translateX(-5px); }
  49.95% { -webkit-transform: translateX(4px); transform: translateX(4px); }
  66.6% { -webkit-transform: translateX(-2px); transform: translateX(-2px); }
  83.25% { -webkit-transform: translateX(1px); transform: translateX(1px);  }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% { -webkit-transform: translateX(6px); transform: translateX(6px); }
  33.3% { -webkit-transform: translateX(-5px); transform: translateX(-5px); }
  49.95% { -webkit-transform: translateX(4px); transform: translateX(4px); }
  66.6% { -webkit-transform: translateX(-2px); transform: translateX(-2px); }
  83.25% { -webkit-transform: translateX(1px); transform: translateX(1px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

.hvr-icon-wobble-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-icon-wobble-horizontal:before { content: "\f061"; position: absolute; font-family: FontAwesome; -webkit-transform: translateZ(0); transform: translateZ(0); }
.hvr-icon-wobble-horizontal:hover:before { -webkit-animation-name: hvr-icon-wobble-horizontal; animation-name: hvr-icon-wobble-horizontal; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  33.3% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  49.95% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  66.6% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
  83.25% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes hvr-icon-wobble-vertical {
  16.65% { -webkit-transform: translateY(6px); transform: translateY(6px); }
  33.3% { -webkit-transform: translateY(-5px); transform: translateY(-5px); }
  49.95% { -webkit-transform: translateY(4px); transform: translateY(4px); }
  66.6% { -webkit-transform: translateY(-2px); transform: translateY(-2px); }
  83.25% { -webkit-transform: translateY(1px); transform: translateY(1px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.hvr-icon-wobble-vertical { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; padding-right: 2.2em; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-icon-wobble-vertical:before { content: "\f107"; position: absolute; top: 0; bottom: 0; right: 0; margin: auto; font-family: FontAwesome; width: 16px; height: 16px; line-height: 16px; border: 2px solid #FFF; border-radius: 50%; text-align: center; color: #FFF; font-size: 1rem; -webkit-transform: translateZ(0); transform: translateZ(0); }
.hvr-icon-wobble-vertical:hover:before { -webkit-animation-name: hvr-icon-wobble-vertical; animation-name: hvr-icon-wobble-vertical; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

/* z-index */
header { z-index: 1; }
.menuFixed { z-index: 15; }
.btn-down { z-index: 1; }
.left-menu { z-index: 1; }
.btn-home-product { z-index: 1; }
.home-news-bg { z-index: -1; }
.home-about-main .bg { z-index: -1; }
.bg-red { z-index: 2; }
.leaf { z-index: 1; }
.home-about-menu { z-index: 3; }

/* header */
/*.page-home header>a { visibility: hidden; opacity: 0; } *//*動畫關係一開始隱藏*/
header { position: absolute; top: 0; left: 0; width: 100%; text-align: center; }
header .logo { background: url(../../assets/img/logo_r.png) no-repeat; background-size: 100%; width: 112px; height: 37px; }
header>a { float: left; margin-top: 25px; margin-left: 66px; }
.top-menu { float: right; width: 70%; height: 50px; line-height: 50px; margin-top: 20px; margin-right: 6%; }
.top-menu li { display: inline-block; font-size: .875rem; padding-left: 1em; padding-right: 1em; letter-spacing: .05em; color: rgba(255, 255, 255, 1); }
.top-menu li:hover { color: rgba(255, 255, 255, .7); }
.top-menu li>a { display: block; }
.hamburg { vertical-align: middle; cursor: pointer; }
.hamburg span { display: block; margin-bottom: 3px; background: #FFF; width: 22px; height: 2px; }
.hamburg span:last-of-type { margin-bottom: 0; }
/*top-right*/
.top-right { float: right; margin-right: 50px; padding-top: 34px; border-top: 1px solid #e60012; }
.lan { font-size: .75rem; color: #FFF; }

.search i { margin-left: 8px; font-size: 14px; color: #FFF; }

/*language*/
.lan { position: relative; display: inline-block; vertical-align: top; font-size: .75rem; color: #FFF; }
.lan>span { display: inline-block; border-right: 2px solid rgba(255, 255, 255, .4); padding-right: 1em; cursor: pointer; }
.lan>span::after { content: ''; display: inline-block; background: url(../img/lan.png) no-repeat; background-size: 100%; width: 13px; height: 13px; vertical-align: -2px; margin-left: 8px; }
.lan>span:hover { color: #e60012; }
.lan-select { display: none; position: absolute; top: 2em; left: 0; text-align: left; width: 100%; }
.lan-select>li { height: 35px; line-height: 35px; }
.lan-select>li:hover { color: #e60012; }
.lan-select>li>a { display: block; }
/*搜索*/
.search { position: relative; display: inline-block; cursor: pointer; }
.btn-search { margin-left: 8px; vertical-align: top; background: url(../img/search.svg) no-repeat; background-size: 100% 100%; width: 13px; height: 14px; display: inline-block; border: 0; }
.search-input { position: absolute; top: -8px; right: 25px; border: 0; font-size: .75rem; width: 0; height: 30px; text-overflow: ellipsis; transition: .5s ease; text-indent: 1em; }
.search-input.open { width: 200px; }

/* 輪播 banner */
.banner { position: relative; width: 100%; height: 100%; }
.bannerIND { position: relative; width: 100%; height: 100%; opacity: 0; }
.bannerIND div { width: 100%; height: 100%; }
.indexTit { position: relative; width: 70%; height: 100%; margin: auto; display: table; }
.indexTit .inner { display: table-cell; vertical-align: middle; margin: 0 auto; color: #FFF; text-align: center; }
.bannerIND .banner-logo { display: block; margin: auto; background: url(../../assets/img/logo_r.png) no-repeat; background-size: 100% 100%; width: 112px; height: 37px; }
.indexTit .txt01 { margin: 50px auto 10px; font-size: 4.5rem; font-weight: bold; max-width: 1000px; line-height: 1; text-align: center; letter-spacing: .05em; text-shadow: 1px 1px 3px #636363; }
.indexTit .txt02 { margin: 0 auto 1em; max-width: 400px; font-size: 1.3125rem; font-weight: bold; letter-spacing: .05em; text-shadow: 1px 1px 3px #636363; }

.btn-down { position: absolute; left: 0; right: 0; bottom: 10em; margin: auto; display: block; width: 25px; height: 25px; line-height: 25px; border: 3px solid #FFF; border-radius: 50%; text-align: center; text-shadow: 1px 1px 3px #636363; }
.btn-down::after { position: absolute; bottom: -4px; left: 0; right: 0; margin: auto; content: "\f107"; display: block; font-family: FontAwesome; color: #FFF; font-size: 1rem; }
.btn-down:hover { bottom: 9.5em; }

/*banner點點樣式*/
.bannerIND .slick-dots { bottom: 80px; }
.slick-dots li button:before { line-height: 20px; position: absolute; width: 9px; height: 9px; content: ''; opacity: 1; background-color: #FFF; }
.slick-dots li.slick-active button:before { background-color: #FF0000; }
.slick-dots li, .slick-dots li button { width: 10px; height: 10px; }
.slick-dots li { margin: 0 15px; }

/*footer*/
.bg-footer { background-color: #525252; height: 333px; margin: 5em 2em 2em; }
.home-footer { position: relative; top: 0; width: 100%; height: 333px; }
.footer-main .title { position: absolute; top: 0; left: 0; right: 0; margin: auto; color: #FFF; width: 200px; }
.community { position: absolute; top: 50%; left: 0; right: 0; margin: auto; width: 50%; text-align: center; }
.community li { overflow: hidden; display: inline-block; margin-right: 8px; width: auto; height: 35px; max-height: 35px; text-align: center; line-height: 30px; transition: all .5s ease; }
/*.community li:hover { transform: rotate(360deg) scale(1.02); -webkit-transform: rotate(360deg) scale(1.02); -ms-transform: rotate(360deg) scale(1.02); }*/
.community li a { display: block; height:100%;}
.community li a::before { display: inline-block; font-family: FontAwesome; color: #FFF; font-size: 1rem; }
.community li a img{ border:0; max-height:100%;}
.icon-f a::before { content: '\f09a'; }
.icon-t a::before { content: '\f099'; }
.icon-i a::before { content: '\f16d'; }
.icon-p a::before { content: '\f231'; }
.community li.icon-y a::before { font-size: 1.2rem; }
.icon-y a::before { content: '\f166'; }
.footer-menu { position: absolute; bottom: 15%; left: 0; right: 0; margin: auto; width: 50%; height: 20%; text-align: center; }
.footer-menu li { display: inline-block; padding-left: 10px; padding-right: 10px; border-right: 1px solid #636363; font-size: .875em; color: #FFF; }
.footer-menu li a { display: block; }
.footer-menu li:hover a { border-bottom: 1px solid #FFF; }
.footer-menu li:last-of-type { border-right: 0; }
.footer-main small { position: absolute; bottom: 20%; left: 0; right: 0; margin: auto; color: #FFF; display: block; text-align: center; font-size: 11px; }
.btn-top { display: inline-block; padding: 10px; }
.fp-auto-height { height: 333px !important; }
footer.home-footer .title { top: -70px; }
/*title*/
.title { font-size: 1rem; width: 100%; text-align: center; padding-bottom: 80px; }
.title::before { content: ''; display: block; margin: 0 auto 20px; background-color: #E60012; width: 5px; height: 0; }
.title.move::before { height: 120px; animation:fadeInLine 1s ease; -moz-animation:fadeInLine 1s ease; -webkit-animation:fadeInLine 1s ease; -o-animation:fadeInLine 1s ease; }

.menuFixed { position: fixed; top: 0; width: 100%; }
@-webkit-keyframes headerFadeIn {
    0% { opacity: 0; -webkit-transform: translate3d(0, -120%, 0); transform: translate3d(0, -120%, 0); }
    100% { opacity: 1;  -webkit-transform: none; transform: none; }
}
@keyframes headerFadeIn {
    0% { opacity: 0; -webkit-transform: translate3d(0, -120%, 0); transform: translate3d(0, -120%, 0); }
    100% { opacity: 1;  -webkit-transform: none; transform: none; }
}
.headerFadeIn { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: headerFadeIn;  animation-name: headerFadeIn; }
/*menu-box*/
.swpmodal-container_i { display: block; height: 100%; margin: 0 auto; }
.swpmodal-container_i:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.swpmodal-container_i2 { display: inline-block; vertical-align: middle; width:100%; padding: 0; }
.swpmodal-close { display: block; }
.boxmenu_close { top: 5%; right: 15%; position: absolute; width: 1.5em; height: 1.5em; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.boxmenu_close span:first-of-type { width: 2px; height: 0; position: absolute; top: 0; left: 0; right: 0; margin: auto; background-color: #000; }
.boxmenu_close span:last-of-type { width: 0; height: 2px; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; background-color: #000; }
.boxmenu_close.move span:first-of-type { height: 100%; transition: height .5s ease 3.5s; }
.boxmenu_close.move span:last-of-type { width: 100%; transition: width .5s ease 3s; }

.BOX { position: relative; width: 100%; margin-left:auto; margin-right:auto; }
.BOX_inner { position: relative; width: 100%; margin: 0 auto; }
.box-menu { padding: 3em; }
.menu-logo { visibility: hidden; display: block; background: url(../img/logo.svg) no-repeat; background-size: 100% 100%; width: 170px; height: 57px; margin: 3em auto; text-indent: 101%; overflow: hidden; white-space: nowrap; }
.topLine, .bottomLine { display: block; margin: 2em auto; width: 5px; height: 0; background-color: #e60012; }
.topLine { transition: height .5s ease .5s; }
.bottomLine { transition: height .5s ease 1.8s; }
.topLine.move, .bottomLine.move { height: 134px; }

.all-menu ul li a { font-size: 1.125rem; color: #4c4c4c; font-weight: bold; display: block; padding: .5em 1em; }
.all-menu ul li a:hover { color: #e60012; }
.all-menu ul li { display: inline-block; }
.all-menu ul { visibility: hidden; width: 100%; max-width: 600px; margin: auto; text-align: center; }
.menu-language { visibility: hidden; text-align: center; margin-bottom: 3em; }
.menu-language a { font-size: .9375rem; color: #999; font-weight: bold; display: block; width: 100%; max-width: 200px; padding-top: .3em; padding-bottom: .3em; margin: auto; }
.menu-language a:hover { color: #333; }
.menu-language .menu-chose a { color: #333; }
.menu-community { visibility: hidden; }
.menu-community .community { position: static; }
.menu-community .community li { line-height: 29px; }
.menu-community .community li a::before { color: #333; font-size: 1.1rem; }
.box-menu small { visibility: hidden; font-size: 11px; color: #4c4c4c; display: block; margin: 2.5em auto; text-align: center; line-height: 1.5; }
.swpmodal-container_i.line:before, .swpmodal-container_i.line:after { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; margin: auto; width: 0; height: 2px; background-color: #e60112; }
.swpmodal-container_i.line.move::before, .swpmodal-container_i.line.move::after { width: 100%; animation:boxR 1s ease; -moz-animation:boxR 1s ease; -webkit-animation:boxR 1s ease; -o-animation:boxR 1s ease; }
@keyframes boxR {
  0% { opacity: 0; width: 0; }
  100% { opacity: 1; width: 100%; }
}
.boxR { -webkit-animation-name: boxR; animation-name: boxR; }
/*box-login*/
.box-login { width: 100%; max-width: 400px; padding: 1.875em 3.125em; background-color: #FFF; }
.box-login h2 { display: block; margin-bottom: 1em; font-size: 1.75rem; font-weight: bold; color: #333; text-align: center; }
.box-login-input, .box-login-code { height: 35px; line-height: 35px; text-overflow: ellipsis; border: 1px solid #b2b2b2; color: #333; font-size: .875rem; font-weight: 300; margin-bottom: 1em; padding-left: 10px; padding-right: 10px; letter-spacing: .05em; }
.box-login-input { width: 100%; display: block; }
.box-login-code { width: 70%; display: inline-block; vertical-align: top; }
.box-code { width: 25%; display: inline-block; vertical-align: top; }
.btn-gray03 { display: block; background-color: #424242; width: 230px; height: 40px; line-height: 40px; text-align: center; font-size: .75rem; color: #FFF; border: 0; margin: 1em auto 3em; letter-spacing: .05em; transition: .5s ease; }
.box-login-txt { font-size: .9375rem; font-weight: 300; color: #666; }
.btn-gray03:hover { background-color: #e60012; }
/*型號篩選 product video*/
.product-type>a { width: 200px; display: block; margin: auto; }
.product-select { width: 80%; max-width: 500px; margin: 2em auto 0;  text-align: center; }
.product-selected { position: relative; display: block; font-size: 2rem; font-weight: bold; color: #000; cursor: pointer; width: 100%; margin: auto; padding-bottom: .5em; }
.product-selected:after { content: ""; position: absolute; top: -20px; left: 0; right: 0; margin: auto; border: transparent solid; border-width: 10px; border-top-color: #e60012; width: 0px; height: 0px; }
.product-select ul { display: none; z-index: 3; position: absolute; left: 0; right: 0; margin: 1em auto; padding-top: 1em; padding-bottom: 2em; background-color: #191919; width: 450px; cursor: pointer; }
.product-select ul li { width: 90%; margin: auto; padding-top: 10px; padding-bottom: 10px; background-color: #191919; color: rgba(255, 255, 255, .3); font-size: .875rem; cursor: pointer; line-height: 1.5; letter-spacing: .05em; }
.product-select ul li:hover { color: rgba(255, 255, 255, 1); }
.product-select ul li a {
  display: block;
  width: 100%;
}
/*top-bar product video*/
.bread-crumbs { float: left; }
.bread-crumbs a { display: inline-block; font-size: .875rem; padding-left: 1em; padding-right: 1em; color: #000; }
.bread-crumbs a:first-of-type { padding-left: 0; }
.bread-crumbs a:hover { letter-spacing: .05rem; }
.bread-crumbs a:last-of-type { color: #7a7a7a; }
.bread-crumbs span { display: inline-block; vertical-align: middle; background-color: #eb3341; width: 1px; height: 8px; }
.btn-back { float: right; }
.btn-back .fa-lg { font-size: .75rem; }
.btn-back:hover .fa-circle-thin:before { content: "\f111"; }
.btn-back:hover .fa-angle-left { color: #FFF; }
/*fixed*/
.product-type.menuFixed { visibility: visible; position: fixed; top: 0; width: 100%; background-color: rgba(255, 255, 255, .9); }
.menuFixed .title::before { height: 35px; }
.menuFixed .product-select { margin: 1.5rem auto 1em; }
.menuFixed .hr01 { display: none; }
.menuFixed .title { padding-bottom: 1em; }
/*product-detail video*/
.vedio { position: relative; height: 360px; }
.vedio-txt { z-index: 2; position: absolute; top: 40%; left: 0; right: 0; margin: auto; font-size: 15px; color: #FFF; }
.vedio-bk { background-color: rgba(0,0,0,.6); position: absolute; width: 100%; max-width: 600px; height: 360px; top: 0; left: 0; right: 0; margin: auto; opacity: .3; transition: all .5s ease; }
.vedio a:hover .vedio-bk { opacity: 1; }
.vedio-txt>span { display: block; text-align: center; }
.img-btn { width: 46px; height: 46px; margin: auto; line-height: 46px; border: 1px solid #FFF; border-radius: 50%; text-align: center; margin-top: 1em; }
.line-dash { border-bottom: 1px dashed #CCC; width: 100%; max-width: 1200px; margin: auto; }
/*colorbox*/
#cboxOverlay { background: #000; }
#cboxClose { background: url(../img/close-browser.svg) no-repeat; width: 1em; height: 1em; background-size: 100% 100%; }
#cboxClose:hover { background: url(../img/close-browser.svg) no-repeat; background-size: 100% 100%; }
.pagination ul{display:inline};
