<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>ABOUT-KAFO</title>
  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/apple-touch-icon-144.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.ico">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.ico">
  <!--font-awesome圖片字型-->
  <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
  <!--banner-->
  <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css"/>
  <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css"/>
  <!-- lightbox -->
  <link rel="stylesheet" href="../../assets/js/vendor/colorbox/colorbox.css"/>
  <link rel="stylesheet" href="../../assets/js/vendor/magnific/magnific-popup.css"/>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <link rel="stylesheet" href="../../assets/css/about.css">
  <link rel="stylesheet" href="../../assets/css/responsible.css" media="all">
  <script src="../../assets/js/vendor/jquery.1.11.3.min.js"></script>
  <!--補瀏覽器前綴-->
  <script src="../../assets/js/vendor/prefixfree.min.js"></script>
</head>
<body>
<div class="wrapper page-about">
  <header>
    <a href="../home/index.html">
      <h1 class="hideText logo">KAFO</h1>
    </a>
    <div class="top-right">
      <!--語系-->
      <a href="javascript:;" class="lan">LANGUAGE</a>
      <!--搜尋-->
      <a href="javascript:;" class="search"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <ul class="top-menu">
      <li><a href="../product/index.html">PRODUCTS</a></li>
      <li><a href="../technology/index.html">TECHNOLOGY</a></li>
      <li><a href="../capability/index.html">CAPABILITY</a></li>
      <li><a href="../about/index.html">ABOUT KAFO</a></li>
      <li>
        <!--漢堡選單區塊-->
        <a href="javascript:;" class="hamburg">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </li>
    </ul>
  </header>
  <section id="about01" class="banner about-banner">
    <h2 class="hideText disNone">Banner</h2>
    <div class="bannerIND">
      <div class="xsBGshow" data-small="../../upload/about/banner/banner01.png" data-large="../../upload/about/banner/banner01.png" style="background:url('../../upload/about/banner/banner01.png') no-repeat center center; background-size:cover"><!--PC尺寸1440x700-->
        <div class="indexTit">
          <div class="inner">
            <p class="about-banner-txt01">ABOUT KAFO</p>
            <p class="about-banner-txt02">PROCESSING EQUIPMENT</p>
            <!--play按鈕鍵-->
            <a class="btn-movie youtube" href="https://www.youtube.com/embed/3utZ-1LzZe8" frameborder="0" allowfullscreen></a>
            <span class="btn-movie-txt">董事長的話</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 中間選單 -->
  <ul class="navbar">
    <li><a href="#about02">COMPANY</a></li>
    <li><a href="#about03">HISTORICAL</a></li>
    <li><a href="#about04">QUALITY</a></li>
    <li><a href="#about05">PROCESS</a></li>
    <li><a href="#about06">PLANT</a></li>
  </ul>
  <section id="about02" class="about-company">
    <div class="container">
      <a href="#about02"><h2 class="title">COMPANY</h2></a>
      <div class="about-company-img">
        <img src="../../upload/about/people.png">
      </div>
      <div class="about-content">
        <h3><span>MARCH TO THE</span><span>TOP OF TECHNOLOGY</span></h3>
        <p class="fontM">Kao Fong Machinery Company is the stock public company in Taiwan. Wehave the excellent products image and quality reputation since along time. The scope of company grows every year.<br/>
        <br/>
        Found in 1968, it has been over 40 years, From the manufacture of traditional milling machine, we increase the product items step by step and induce the Numerical Control category with rich-experience design team and mature production capacity.<br/>
        <br/>
        The current products include Vertical machining centers, Horizon-tal machining centers and Double column machines etc.<br/>
        <br/>
        The development of gun drilling machine was due to the request of clients. Our R&D team referred numerous examples and amended the advantages of upgrafing efficiency and enhancing functions to exceed the existed machine models.</p>
      </div>
    </div>
  </section>
  <section id="about03" class="about-historical" style="background: url('../../upload/about/historical.png') no-repeat center center; background-size: cover">
    <div class="inner">
      <span class="fontM">Since<b>1968</b></span>
      <h2 class="about-historical-t">HISTORICAL EVOLUTION</h2>
      <p class="fontM about-historical-txt">Constantly surpassing the peak</p>
      <a class="fontM hvr-icon-wobble-vertical btn-learn jq-btn-historical" href="javascript:;">LEARN MORE</a>
    </div>
  </section>
  <!-- historical 隱藏區塊-->
  <div class="hide-block jq-hide-historical">
    <a href="javascript:;" class="jq-btn-close-historical">
      <h2 class="move title">
        <span class="btn-x">x</span>
        <span class="btn-txt">Historical evolution</span>
      </h2>
    </a>
    <div class="hide-history">
      <ul class="clearfix all-history">
        <li class="history-slick">
          <small>001</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
        <li class="history-slick">
          <small>002</small>
          <div class="dot-line"></div>
          <p class="fontM">Kao Fong Machinery Factory was incorporated as Kao Fong Machinery Co., Ltd and was located in Fengyuan City. We concentrated on producing small and middle size of milling machinery and earned the excellent products price from Ministry of Economic Affairs in Taiwan.</p>
        </li>
        <li class="history-slick">
          <small>003</small>
          <div class="dot-line"></div>
          <p class="fontM">Present modern plant was built in Ta-ya, Taichung.</p>
        </li>
        <li class="history-slick">
          <small>004</small>
          <div class="dot-line"></div>
          <p class="fontM">Kao Fong Machinery was re-organized to Kao Fong Machinery Co., Ltd and developed VBM-A vertical boring mailing machine.</p>
        </li>
        <li class="history-slick">
          <small>005</small>
          <div class="dot-line"></div>
          <p class="fontM">Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.Invented the first V2-CNC milling machine.</p>
        </li>
        <li class="history-slick">
          <small>006</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
        <li class="history-slick">
          <small>007</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
        <li class="history-slick">
          <small>008</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
        <li class="history-slick">
          <small>009</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
        <li class="history-slick">
          <small>100</small>
          <div class="dot-line"></div>
          <p class="fontM">Establishment of Kao Fong Iron Factory. The main products is tapping machines & drilling machines.</p>
        </li>
      </ul>
      <div class="banner_ar">
        <span class="banner_arL"><</span>
        <span class="history-line"></span>
        <span class="banner_arR">></span>
      </div>
    </div>
  </div>
  <!-- quality process -->
  <section class="two-combine clearfix">
    <div id="about04" class="about-quality" style="background: url('../../upload/about/quality.jpg') no-repeat center center; background-size: cover">
      <div class="inner">
        <h2 class="about-historical-t">QUALITY AND<br>CERTIFICATION</h2>
        <p class="fontM about-historical-txt">Taiwan Excellence Award</p>
        <a class="fontM hvr-icon-wobble-vertical btn-learn jq-btn-quality" href="javascript:;">LEARN MORE</a>
      </div>
    </div>
    <!-- quality 隱藏區塊-->
    <div class="hide-mobile-quality hide-block jq-mobile-quality">
      <a href="javascript:;" class="jq-btn-close-quality">
        <h2 class="move title">
          <span class="btn-x">x</span>
          <span class="btn-txt">Quality and Certification</span>
        </h2>
      </a>
      <div class="fontM hide-quality">
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/01-b.jpg" alt="SGS EMC">
          <p>SGS EMC</p>
        </a>
        <a href="../../upload/about/quality/02-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/02.jpg" alt="SGS">
          <p>SGS</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/03.jpg" alt="ISO14001 478558">
          <p>ISO14001<br>478558</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
          <p>ISO14001<br>482465</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
          <p>ISO14001<br>482468</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/01.jpg" alt="SGS證書">
          <p>SGS EMC</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/01.jpg" alt="SGS證書">
          <p>SGS</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/02.jpg" alt="SGS證書">
          <p>ISO14001<br>478558</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
          <p>ISO14001<br>482465</p>
        </a>
        <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
          <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
          <p>ISO14001<br>482468</p>
        </a>
      </div>
    </div>
    <div id="about05" class="about-process" style="background: url('../../upload/about/process.jpg') no-repeat center center; background-size: cover">
      <div class="inner">
        <h2 class="about-historical-t">PROCESS<br>PLANNING</h2>
        <p class="fontM about-historical-txt">Customize your needs</p>
        <a class="fontM hvr-icon-wobble-vertical btn-learn jq-btn-process" href="javascript:;">LEARN MORE</a>
      </div>
    </div>
  </section>
  <!-- quality 隱藏區塊-->
  <div class="hide-block jq-hide-quality">
    <a href="javascript:;" class="jq-btn-close-quality">
      <h2 class="move title">
        <span class="btn-x">x</span>
        <span class="btn-txt">Quality and Certification</span>
      </h2>
    </a>
    <div class="fontM hide-quality">
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/01-b.jpg" alt="SGS EMC">
        <p>SGS EMC</p>
      </a>
      <a href="../../upload/about/quality/02-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/02.jpg" alt="SGS">
        <p>SGS</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/03.jpg" alt="ISO14001 478558">
        <p>ISO14001<br>478558</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
        <p>ISO14001<br>482465</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
        <p>ISO14001<br>482468</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/01.jpg" alt="SGS證書">
        <p>SGS EMC</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/01.jpg" alt="SGS證書">
        <p>SGS</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/02.jpg" alt="SGS證書">
        <p>ISO14001<br>478558</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
        <p>ISO14001<br>482465</p>
      </a>
      <a href="../../upload/about/quality/01-b.jpg" class="slick-quality">
        <img src="../../upload/about/quality/03.jpg" alt="SGS證書">
        <p>ISO14001<br>482468</p>
      </a>
    </div>
  </div>
  <!-- process 隱藏區塊-->
  <div class="hide-block jq-hide-process">
    <a href="javascript:;" class="jq-btn-close-process">
      <h2 class="move title">
        <span class="btn-x">x</span>
        <span class="btn-txt">Process Planning</span>
      </h2>
    </a>
    <div class="hide-process">
      <ul class="inner clearfix">
        <li>
          <a href="javascript:;">
            <div class="process-img">
              <img src="../../upload/about/process/process01.jpg" alt="Excellent Process image">
            </div>
            <div class="process-txt">
              <p>TURN-KEY PROJECT PLANNING - EXCELLENT PROCESS</p>
              <ul class="fontM">
                <li>Meet customer's processing demand.</li>
                <li>Achieve customer's required quantity production.</li>
                <li>Carry out automation processing.</li>
                <li>Flexibly used in various products.</li>
              </ul>
            </div>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <div class="process-img">
              <img src="../../upload/about/process/process02.jpg" alt="Excellent Process image">
            </div>
            <div class="process-txt">
              <p>PROFESSIONAL ENGINEERING TEAM</p>
              <ul class="fontM">
                <li>Having the most state-of-the-art software and hadware provides customers with the proposal to increase the production efficiency.</li>
                <li>Mproving the processing efficiency through the work analysis, construction method and applica-yion test.</li>
              </ul>
            </div>
          </a>
        </li>
      </ul>
      <ul class="all-process clearfix">
        <li class="process-list">
          <i>01</i>
          <img src="../../upload/about/process/icon01.png">
          <p class="fontM">CUSTOMIZED<br>PRODUCTION LINE</p>
        </li>
        <li class="process-list">
          <i>02</i>
          <img src="../../upload/about/process/icon02.png">
          <p class="fontM">UNDERSTANDING<br>NEEDS</p>
        </li>
        <li class="process-list">
          <i>03</i>
          <img src="../../upload/about/process/icon03.png">
          <p class="fontM">Analysis<br>and Planning</p>
        </li>
        <li class="process-list">
          <i>04</i>
          <img src="../../upload/about/process/icon04.png">
          <p class="fontM">Proposal</p>
        </li>
        <li class="process-list">
          <i>05</i>
          <img src="../../upload/about/process/icon05.png">
          <p class="fontM">Order<br>and Specs Confirm</p>
        </li>
        <li class="process-list">
          <i>06</i>
          <img src="../../upload/about/process/icon06.png">
          <p class="fontM">Production<br>Process</p>
        </li>
        <li class="process-list">
          <i>07</i>
          <img src="../../upload/about/process/icon07.png">
          <p class="fontM">Installation<br>and Inspection</p>
        </li>
      </ul>
      <div class="about-contact">
        <p><span>IF YOU ARE INTERESTED IN OUR SERVICES,</span><span>PLEASE FEEL FREE TO CONTACT US.</span></p>
        <a class="hvr-rectangle-out btn-red" href="../contact/index.html">RIGHT NOW</a>
      </div>
    </div>
  </div>
  <section id="about06" class="about-plant" style="background: url('../../upload/about/plant.jpg') no-repeat center center; background-size: cover">
    <div class="inner">
      <h2 class="about-historical-t">KAFO PLANT</h2>
      <a class="fontM hvr-icon-wobble-vertical btn-learn jq-btn-plant" href="javascript:;">LEARN MORE</a>
    </div>
  </section>
  <!-- plant 隱藏區塊-->
  <div class="hide-block jq-hide-plant">
    <a href="javascript:;" class="jq-btn-close-plant">
      <h2 class="move title">
        <span class="btn-x">x</span>
        <span class="btn-txt">Photo Collection</span>
      </h2>
    </a>
    <div class="fontM hide-plant">
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/01.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/02.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/03.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/01.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/02.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
      <a href="../../upload/about/plant/01-b.jpg" class="slick-plant">
        <div><img src="../../upload/about/plant/03.jpg"></div>
        <p>PLANT PANORAMA</p>
      </a>
    </div>
  </div>
  <footer class="home-footer">
    <div class="footer-main">
      <div class="bg-footer"></div>
      <div class="title">
        <a href="javascript:;" class="btn-top">TOP</a>
      </div>
      <ul class="community">
        <li class="icon-f"><a href="javascript:;"></a></li>
        <li class="icon-t"><a href="javascript:;"></a></li>
        <li class="icon-i"><a href="javascript:;"></a></li>
        <li class="icon-p"><a href="javascript:;"></a></li>
        <li class="icon-y"><a href="javascript:;"></a></li>
      </ul>
      <ul class="footer-menu">
        <li class="fontM"><a href="../about/index.html">About KAFO</a></li>
        <li class="fontM"><a href="../capability/index.html">Capability</a></li>
        <li class="fontM"><a href="../product/index.html">Products</a></li>
        <li class="fontM"><a href="../support/index.html">Support</a></li>
        <li class="fontM"><a href="../investor/index.html">Investor</a></li>
        <li class="fontM"><a href="../contact/index.html">Contact</a></li>
        <li class="fontM"><a href="../privacy/index.html">Privacy</a></li>
      </ul>
      <small>&copy KAO FONG MACHINERY CO., LTD ALL RIGHTS RESERVED.. <a href="http://www.wddgroup.com" target="_blank" title="威德網頁設計">DESIGNED BY WDD</a></small>
    </div>
  </footer>
</div>

<script src="../../assets/js/vendor/jquery.easings.min.js"></script>
<!--動畫-->
<script src="../../assets/js/vendor/waypoints.min.js"></script>
<!--banner輪播-->
<script src="../../assets/js/vendor/slick/slick.min.js"></script>
<!-- lightbox -->
<script src="../../assets/js/vendor/colorbox/jquery.colorbox-min.js"></script>
<script src="../../assets/js/vendor/magnific/jquery.magnific-popup.min.js"></script>
<!--共用js-->
<script src="../../assets/js/main.js"></script>
<!--本頁js-->
<script src="../../assets/js/about.js"></script>
</body>
</html>
