<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="網站描敘">
  <meta name="keywords" content="網站關鍵字">
  <meta name="format-detection" content="telephone=no">
  <title>CONTACT-KAFO</title>
  <!-- icon -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/img/ico/apple-touch-icon-144.png">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/favicon.ico">
  <link rel="icon" type="image/x-icon" href="../../assets/img/ico/favicon.ico">
<!--共用-->
  <!--font-awesome圖片字型-->
  <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
  <!--banner-->
  <link rel="stylesheet" href="../../assets/js/vendor/slick/slick.css"/>
  <link rel="stylesheet" href="../../assets/js/vendor/slick/slick-theme.css"/>
  <!-- lightbox -->
  <link rel="stylesheet" href="../../assets/js/vendor/semanticwp/jquery.semanticwp-modal.min.css"/>
  <link rel="stylesheet" href="../../assets/css/style.css">
  <!--scroll bar-->
  <link rel="stylesheet" href="../../assets/js/vendor/jqueryscrollbar/jquery.scrollbar.css">
<!--共用-->
  <link rel="stylesheet" href="../../assets/css/responsible.css" media="all">
<!--非共用-->
  <link rel="stylesheet" href="../../assets/css/contact.css">
  <link rel="stylesheet" href="../../assets/css/contact-rwd.css">
  <script src="../../assets/js/vendor/jquery.1.11.3.min.js"></script>
  <!--補瀏覽器前綴-->
  <script src="../../assets/js/vendor/prefixfree.min.js"></script>
</head>
<body>
<div class="wrapper page-contact">
  <header></header>
  <section class="banner contact-banner">
    <h2 class="hideText disNone">Banner</h2>
    <div class="bannerIND">
      <div class="xsBGshow" data-small="../../upload/contact/banner01.png" data-large="../../upload/contact/banner01.png" style="background:url('../../upload/contact/banner01.png') no-repeat center center; background-size:cover"><!--PC尺寸1440x490-->
        <div class="indexTit">
          <div class="inner">
            <p class="banner-txt01">CONTACT</p>
            <p class="banner-txt02">TO PROVIDE MORE SERVICE</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#contact02" class="btn-down"></a>
  </section>
  <section id="contact02" class="contact02">
    <a class="contact-anchor" href="#contact02"><h2 class="move title">CONTACT INFORMATION</h2></a>
    <div class="company-box">
      <div class="button-group">
        <div class="prev-button icon-circle-left">
        </div>
        <div class="next-button icon-circle-right">
        </div>
      </div>
      <div class="company-inner clearfix" dir="">
        <div class="company-info">
          <h2>KAO FONG MACHINERY CO., LTD KAO FONG MACHINERY CO.,</h2>
          <div class="info-group">
            <p class="info-address">No.16, Keya Rd., Daya Dist., Taichung City 428, Tai+wan</p>
            <span class="info-phone">Tel：+886-4-25662116</span>
            <p class="info-mail">E-Mail：hsiaomingcheng@hotmail.com</p>
          </div>
        </div>
        <div class="company-info">
          <h2>KAO FONG MACHINERY CO., LTD</h2>
          <div class="info-group">
            <p class="info-address">No.16, Keya Rd., Daya Dist., Taichung City 428, Tai+wan</p>
            <span class="info-phone">Tel：+886-4-25662116</span>
            <p class="info-mail">E-Mail：kafo@kafo.con.tw</p>
          </div>
        </div>
        <div class="company-info">
          <h2>KAO FONG MACHINERY CO., LTD KAO FONG MACHINERY CO., LTD</h2>
          <div class="info-group">
            <p class="info-address">No.16, Keya Rd., Daya Dist., Taichung City 428, Tai+wan</p>
            <span class="info-phone">Tel：+886-4-25662116</span>
            <p class="info-mail">E-Mail：kafo@kafo.con.tw</p>
          </div>
        </div>
      </div>
    </div>
    <div class="map-join clearfix">
      <a class="inner-map hvr-icon-bob icon-location" href="javascript:;">
        <p>VIEW THE MAP</p>
      </a>
      <a class="inner-join hvr-icon-bob icon-plan fa-paper-plane" aria-hidden="true" href="javascript:;">
        <p>JOIN US</p>
      </a>
    </div>
    <div class="contact-us">
      <h2>WELCOME TO CONTACT US</h2>
      <p>Fields marked with an asterisk <span class="star-point-static">*</span> are required</p>
      <div class="contact-form">
        <ul class="input-group">
          <li class="name">
            <span class="red-line"></span>
            <label class="contact-label star-point">NAME</label><input type="text" placeholder="Please enter a name" class="contact-input"></input>
          </li>
          <li class="company-name">
            <label class="contact-label">COMPANY NAME</label><input type="text" placeholder="Please enter your company name" class="contact-input"></input>
          </li>
          <li class="phone">
            <label class="contact-label star-point">PHONE</label><input type="number" placeholder="Please enter a contact phone number" class="contact-input"></input>
          </li>
          <li class="fax">
            <label class="contact-label">FAX</label><input type="number" placeholder="Please enter a fax" class="contact-input"></input>
          </li>
          <li class="address">
            <label class="contact-label star-point">ADDRESS</label><input type="text" placeholder="Please enter a contact address" class="contact-input"></input>
          </li>
          <li class="email">
            <label class="contact-label star-point">E-MAIL</label><input type="email" placeholder="Please enter a E-mail" class="contact-input"></input>
          </li>
          <li class="subject">
            <label class="contact-label star-point">SUBJECT</label>
            <ul class="contact-dropdown">
              <span class="for-change">Please select the category of inquiry</span>
              <li class="dropdown-detail"><a href="javascript:;">Business inquiry1</a></li>
              <li class="dropdown-detail"><a href="javascript:;">Business inquiry2</a></li>
              <li class="dropdown-detail"><a href="javascript:;">Business inquiry3</a></li>
              <li class="dropdown-detail"><a href="javascript:;">Business inquiry4</a></li>
            </ul>
          </li>
          <li class="comments">
            <label class="contact-label star-point">COMMENTS</label><textarea name="" id="" cols="50" rows="5" placeholder="Please enter a name" class="for-placeholder textarea-scrollbar scrollbar-outer"></textarea>
          </li>
          <li class="code">
            <label class="contact-label star-point">CODE</label><input type="text" placeholder="Please enter verification code" class="contact-input"></input>
            <img src="../../assets/img/verification.png" alt="">
          </li>
        </ul>
        <div class="send-clear clearfix">
          <input type="submit" value="SEND" class="contact-send">
          <input type="reset" value="CLEAR" class="contact-clear">
        </div>
      </div>
    </div>
  </section>

  <footer class="home-footer"></footer>
</div>
<script>
  // 引入header
  $('header').load('../include/header.html');
  // 引入footer
  $('.home-footer').load('../include/footer.html');
</script>
<!--共用-->
  <script src="../../assets/js/vendor/jquery.easings.min.js"></script>
  <!--banner輪播-->
  <script src="../../assets/js/vendor/slick/slick.min.js"></script>
  <!-- lightbox -->
  <script src="../../assets/js/vendor/semanticwp/jquery.semanticwp-modal.min.js"></script>
  <!--動畫-->
  <script src="../../assets/js/vendor/waypoints.min.js"></script>
  <!--scroll bar-->
  <script src="../../assets/js/vendor/jqueryscrollbar/jquery.scrollbar.min.js"></script>
  <!--共用js-->
  <script src="../../assets/js/main.js"></script>
<!--非共用-->
  <script src="../../assets/js/contact.js"></script>
  <script>
    jQuery(document).ready(function(){
      jQuery('.textarea-scrollbar').scrollbar();
    });
  </script>
</body>
</html>
